<a href="https://colab.research.google.com/github/rlaalsdn0421/PROJECT/blob/main/%EB%B9%85%EB%A7%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/rlaalsdn0421/PROJECT/main/common_passwords.csv')
df

       password  length  num_chars  ...  num_special  num_vowels  num_syllables
0        123456       6          0  ...            0           0              1
1      password       8          8  ...            0           2              2
2      12345678       8          0  ...            0           0              1
3        qwerty       6          6  ...            0           1              3
4     123456789       9          0  ...            0           0              1
...         ...     ...        ...  ...          ...         ...            ...
9995       caca       4          4  ...            0           2              2
9996     c2h5oh       6          4  ...            0           1              1
9997   bubbles1       8          7  ...            0           2              2
9998      brook       5          5  ...            0           2              1
9999      brady       5          5  ...            0           1              1

[10000 rows x 9 columns]

In [3]:
df.describe()

             length     num_chars  ...    num_vowels  num_syllables
count  10000.000000  10000.000000  ...  10000.000000   10000.000000
mean       6.651300      5.030300  ...      1.805900       1.606600
std        1.370947      2.804098  ...      1.242409       0.681383
min        3.000000      0.000000  ...      0.000000       0.000000
25%        6.000000      4.000000  ...      1.000000       1.000000
50%        7.000000      6.000000  ...      2.000000       2.000000
75%        8.000000      7.000000  ...      3.000000       2.000000
max       16.000000     13.000000  ...     10.000000       6.000000

[8 rows x 8 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   password       10000 non-null  object
 1   length         10000 non-null  int64
 2   num_chars      10000 non-null  int64
 3   num_digits     10000 non-null  int64
 4   num_upper      10000 non-null  int64
 5   num_lower      10000 non-null  int64
 6   num_special    10000 non-null  int64
 7   num_vowels     10000 non-null  int64
 8   num_syllables  10000 non-null  int64
dtypes: int64(8), object(1)
memory usage: 703.2+ KB